html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: url("../Images/g.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: ;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 3rem;
  margin-top: 80px;
}

/* h1:hover {
  transform: scale(1.1);
} */

.center {
  text-align: center;
}

#but {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  padding: 1rem 2rem;
  border-radius: 500px;
  background-color: rgb(66, 66, 132);
  border-color: rgb(103, 103, 198);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  opacity: 0.7;
}

#but:hover {
  transform: scale(1.1);
}

.h {
  text-align: center;
  opacity: 0.7;
}

hr {
  margin-top: 50px;
  border-width: 3px;
  max-width: 300px;
  border-radius: 500px;
  border-color: rgb(66, 66, 132);
}
